.post-cards {
    .app-card {
        margin-top: 1rem;
        display: flex;
        flex-grow: 1;
        width: 100%;

        .card-body {
            display: flex;
            flex-direction: row;
            align-items: center;
            .post-card-info {
                padding-left: 2rem;
            }
        }
    }
}